:root {
    --darkGray: #2d3748;
    --gray: #4a5568;
    --grayLight: #f7fafc;
    --primary: #6b46c1;
  }
  
  body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }
  
  .navbar {
    background-color: rgb(219, 176, 66);
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
    
  }
  .navbar .nav-logo img{
    height: 75px;;
    
  }
  .navbar > h1 {
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
  }
  
  .nav-menu {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .hero-container {
    background: rgb(236, 231, 149);
    display: flex;
    height: 470px;
    padding: 0 10%;
  }
  
  .hero-container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .hero-container h1 {
    font-size: 60px;
    width: 360px;
    margin: 20px 0;
    font-weight: bolder;
  }
  
  .hero-container p {
    font-size: 30px;
    color: var(--gray);
  }
  
  .hero-container > img {
    width: 50%;
    height: 323px;
    align-self: center;
  }
  
  .description-container {
    height: 500px;
    margin: 50px 0;
    padding: 0 10%;
    display:flex;
  }
  
  .description-container > div {
    width: 400%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px 0px rgba(1, 1, 1, 0.1);
    border-top: 1px solid rgb(238, 235, 51);
  }
  
  .description-container h2 {
    color: var(--darkGray);
    font-weight: bolder;
  }
  
  .description-container p {
    color: var(--gray);
  }
  
  .description-container > div > div {
    width: 500px;
  }
  
  .description-left-footer {
    display:flex;
    justify-content: space-between;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
    margin: 40px 0;
  }
  
  .btn {
    background: var(--primary);
    outline: none;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }
  
  footer {
    background-color: rgb(219, 176, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 80px;
  }
  footer > div {
    display: flex;
    gap: 30px;
  }
  
  /*utils */
  
  .font-weight-bold {
    font-weight: bold;
  }
  
  @media only screen and (max-width: 420px) {
    .hero-container {
      flex-wrap: wrap;
      height: 100%;
    }
  
    .hero-container > div {
      width: 100%;
      height: 250px;
    }
  
    .hero-container > img {
      width: 100%;
      height: 100%;
    }
  
    .hero-container h1 {
      font-size: 36px;
      text-align: center;
      width: 100%;
    }
  
    .hero-container p {
      font-size: 22px;
      text-align: center;
    }
  
    .content-container {
      grid-template-columns: 1fr;
    }
  
    .description-container {
      flex-wrap: wrap;
      height: 100%;
    }
  
    .description-container h2,
    .description-container p {
      text-align: center;
    }
  
    .description-container > div {
      width: 100%;
      padding: 5%;
    }
  
    .description-container > div > div {
      width: 100%;
    }
  
    .description-container > img {
      width: 100%;
      height: 200px;
    }
  
    .what-is-container {
      flex-wrap: wrap;
      height: 100%;
      flex-direction: column-reverse;
    }
  
    .what-is-container > div {
      width: 100%;
    }
  
    .what-is-container > div > div {
      width: 100%;
    }
  
    .what-is-container > img {
      width: 100%;
    }
  
    .what-is-container h1 {
      font-size: 36px;
      text-align: center;
      width: 100%;
    }
  
    .what-is-container p {
      width: 100%;
      font-size: 18px;
      text-align: center;
    }
  
    nav > .nav-menu {
      display: none;
    }
  
    .card img {
      height: 200px;
    }
  
    .button-container {
      justify-content: center;
    }
  
    footer {
      flex-direction: column-reverse;
    }
  }